<!DOCTYPE html>
<link rel="stylesheet" media="all" href='/stylesheets/all.css' type="text/css"/>
<body>
<div id="wrapper-form">
    <form action="/signin" method="post" class="login-form">
        <fieldset>
            <h1>Login</h1>
            <div class="row">
                <label for="first-name">Username:</label>
                <div class="text">
                    <input id="first-name" type="text" name="username" value="" />
                </div>
            </div>
            <div class="row">
                <label for="password">Password:</label>
                <div class="text">
                    <input id="last-name" type="text" name="password" value="" />
                </div>
            </div>
            <input class="btn-submit" type="submit" value="Submit" />
            <label for="last-name">Remember me</label><input type="checkbox" name="remember" value="yes" checked/>
        </fieldset>
    </form>
</div>
</body>
</html>
