
    <link rel="stylesheet" type="text/css" href='/stylesheets/all.css' />
<div id="menu-wrapper">
    <ul class="nav">
        <li><a href="/">Home</a>
        </li>
        <li><a href="#">Trading</a>
        <ul class="drop">
            <li><a href="/OfferProduct">Offer Product</a></li>
            <li><a href="/OfferService">Offer Service</a></li>
            <li><a href="/OfferPeerTrade">Peer Trade</a></li>
            <li><a href="/GroupTrade">Group Trade</a></li>
            <li><a href="/NearBy">NearBy Trade</a></li>
            <li><a href="/ViewOffersServices">Check Offers</a></li>
        </ul>
        </li>
        <li><a href="#">Messaging</a>
            <ul class="drop">
                <li><a href="/Chatting">Chats</a></li>
                <li><a href="/PrivateMessages">Private Message</a></li>
            </ul>
        </li>
        <li><a href="#">Settings</a>
            <ul class="drop">
                <li><a href="/AddGroup">Add Group</a></li>
                <li><a href="/FriendRequest">Add Friends</a></li>
                <li><a href="/WishList">Add WishList</a></li>
                <li><a href="/GroupMembers">Add Members</a></li>
                <li><a href="/ActivityLog">Activity Logs</a></li>
            </ul>
        </li>
        </ul>
</div>
