<!DOCTYPE html>
<% include ../partials/header %>
<% include ../partials/navigation %>
<head>
    <title>Message</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/notifyme.js"></script>
    <script type="text/javascript" src="/javascripts/typeahead.min.js"></script>
    <script type="text/javascript" src="/javascripts/clientjavascripts/Messages.js"></script>
</head>
<div class="content">
    <form id="contact" class="contact_form">
        <ul>
            <li>
                <h1 style="color: #00b7ff">Private Message</h1>

                <h3 style="color: orangered">Contacting... <%= Name %></h3>
            </li>
            <li>
                <label for="tags">Recipient Email* :</label>
                <input id="to" name="to" type="text" style="color:black;" value="<%= Email %>" readonly="true"
                       placeholder="Recipient E-mail ID" required="true" title="Please email is required!"/>
            </li>
            <li>
                <label for="Subject">Subject* :</label>
                <input id="subject" type="text" placeholder="Write Subject" required="true"
                       title="Please enter the subject of your message"/>
            </li>
            <li>
                <label for="Message">Message* :</label>
                <textarea class="private_text" id="content" required="true"
                          title="Please message content cannot be empty"
                          placeholder="Please type your message to the customer here"></textarea>
            </li>
            <li class="submit">
                <input type="button" name="clear" id="clear" value="Cancel" onclick="clearForm()"/>
                <input type="button" id="send_email" value="Send Mail"/>
                <span id="message"></span>
            </li>
        </ul>
    </form>
</div>
<% include ../partials/footer %>
