<!DOCTYPE html>
<% include ../partials/header %>
<% include ../partials/navigation %>
<head>
    <title>Group Trading</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/notifyme.js"></script>
<script type="text/javascript" src="/javascripts/typeahead.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //create a dynamic url
        var hostproduct = location.protocol + '//' + location.host + '/searchproduct?key=%QUERY';
        var hostservice = location.protocol + '//' + location.host + '/searchservice?key=%QUERY';
        $('#typeahead').typeahead({
            name: 'countries',
            remote: hostproduct,
            limit: 10
        });

        $('#typeaheadservice').typeahead({
            name: 'service',
            remote: hostservice,
            limit: 10
        })

        $('#submit').on('click', function () {
            var isChecked = $('#TradeOptionProduct').prop('checked')
            if (isChecked !== true) {
                $(this).notifyMe(
                        'bottom', // Position
                        'error', // Type
                        'Trade Option', // Title
                        'Trade option not specified', // Description
                        200,// Velocity of notification
                        2000 // (optional) Time of delay to close automatically
                );
            }
        });
        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "Product") {
                $("#ServiceCategories").hide();
                $("#ServiceContent").hide();
                $("#ProductCategories").show();
                $("#ProductContent").show();
                document.getElementById("option").value = "Product";
            }
            if ($(this).attr("value") == "Service") {
                $("#ProductCategories").hide();
                $("#ProductContent").hide();
                $("#ServiceCategories").show();
                $("#ServiceContent").show();
                document.getElementById("optionS").value = "Service";
            }

        });
        $("#ServiceCategories").hide();
        $("#ServiceContent").hide();
    });

    function clearForm() {
        document.getElementById("contact").reset();
    }

</script>
</head>
<div class="content">
    <ul class="rd_trade">
        <li>
            <label for="TradeOption">Trade Option:</label>
            <input type="radio" Id="TradeOptionProduct" name="TradeOptionProduct" onchange="clearForm()"
                   value="Product">Product
            <input type="radio" id="TradeOptionProduct" name="TradeOptionProduct" onchange="clearForm()"
                   value="Service">Service
        </li>

    </ul>
    <!--for product-->
    <div id="ProductContent" name="ProductContent" class="content">
        <form id="contact" class="contact_form" method="post" action="/GroupTrade">
            <fieldset>
                <h1>Group Trade</h1>
                    <h3 style="color:#ff0000">Offer Product</h3>
                <li class="bs-example">
                    <label for="tags" style="color:#00b7ff;">Search Product:</label>
                    <input type="text" ID="typeahead" name="typeahead" class="typeahead tt-query" autocomplete="off"
                           spellcheck="false"
                           placeholder="Search for your products" required="true"
                           title="Please search and select any of your products you want to offer">

                </li>
                <br>
                <li>
                    <input type="text" id="option" name="option" value="" required="true"
                           title="Please Select and Option" hidden="true"/>
                </li>
                <li>
                    <span class="required">Select a group</span>
                    <label for="tags" style="color:#00b7ff;">Offer Group: *</label>
                    <select name="GroupName" style="background-color:lightcyan;" required="required"
                            title="Please select any of your groups">
                        <% for (var i in YourGroups){ %>
                        <option><%= YourGroups[i] %>
                            <% } %>
                    </select>
                </li>
                <br><br>
                <li class="submit">
                    <input type="button" name="clear" id="clear" value="Cancel" onclick="clearForm()"/>
                    <input type="submit" name="submit" id="submit" value="Send Offer"/>
                </li>

            </fieldset>
        </form>
    </div>
    <!--for service-->
    <div id="ServiceContent" name="ServiceContent" class="content">
        <form id="contact" class="contact_form" method="post" action="/GroupTrade">
            <h1>Group Trade</h1>
                <h3 style="color: #ff0000">Offer Service</h3>
            <span class="required">Please select a group</span>
            <li class="bs-example">
                <label for="typeahead" style="color:#00b7ff;">Search Service:</label>
                <input type="text" id="typeaheadservice" name="typeaheadservice" class="typeahead tt-query"
                       autocomplete="off" spellcheck="false"
                       placeholder="Search for your services" required="true"
                       title="Please search and select any of your services you want to offer">
            </li>
            <br>
            <li>
                <input type="text" id="optionS" name="optionS" value="" hidden="true" required="true"
                       title="Please Select and Option"/>
            </li>
            <li>
                <label for="tags" style="color:#00b7ff;">Offer Group: *</label>
                <select name="GroupName" style="background-color:lightcyan;" required="required"
                        title="Please select any of your groups">
                    <% for (var i in YourGroups){ %>
                    <option><%= YourGroups[i] %>
                        <% } %>
                </select>
            </li>
            <br><br>
            <li class="submit">
                <input type="button" name="clear" id="clear" value="Cancel" onclick="clearForm()"/>
                <input type="submit" name="submit" id="submit" value="Send Offer"/>
            </li>

        </form>
    </div>
</div>
<% include ../partials/footer %>