<!DOCTYPE html>
<% include ../partials/header %>
<% include ../partials/navigation %>
<head>
    <title>Peer Trading</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/notifyme.js"></script>
    <script type="text/javascript" src="/javascripts/typeahead.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //create a dynamic url
            var hostpeer = location.protocol + '//' + location.host + '/searchpeer?key=%QUERY';

            $('input.typeahead').typeahead({
                name: 'countries',
                remote: hostpeer,
                limit: 10
            });
            $("#uploadPreview0").click(function () {
                $("input[id='uploadImage0']").click();
            });
            $("#uploadPreview1").click(function () {
                $("input[id='uploadImage1']").click();
            });
            $("#uploadPreview2").click(function () {
                $("input[id='uploadImage2']").click();
            });
            $("#uploadPreview3").click(function () {
                $("input[id='uploadImage3']").click();
            });
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "Product") {
                    $("#ServiceCategories").hide();
                    $("#ServiceContent").hide();
                    $("#ProductCategories").show();
                    $("#ProductContent").show();
                    document.getElementById("OptionProduct").value = "Product";
                }
                if ($(this).attr("value") == "Service") {
                    $("#ProductCategories").hide();
                    $("#ProductContent").hide();
                    $("#ServiceCategories").show();
                    $("#ServiceContent").show();
                    document.getElementById("OptionService").value = "Service";
                }
                document.getElementById("OptionProduct").value = "Product";
            });
            $("#ServiceCategories").hide();
            $("#ServiceContent").hide();

            var allVals = [];
            $('input[type="checkbox"]').click(function () {
                allVals.push($(this).val());
                $("#SelectedAreas").val(allVals);
            });
            $('#submit').on('click', function () {
                var isChecked = $('#TradeOptionProduct').prop('checked')

                if (document.getElementById("SelectedAreas").value == "") {
                    errornotify('Please select or specify shipping locations')
                    return false
                } else if ((document.getElementById("uploadImage0").value == "")) {
                    errornotify('Please check and upload product first image  and photo.');
                    return false
                } else if ((document.getElementById("uploadImage1").value == "")) {
                    errornotify('Please check and upload product second image  and photo.');
                    return false
                } else if ((document.getElementById("uploadImage2").value == "")) {
                    errornotify('Please check and upload product third image  and photo.');
                    return false
                } else if ((document.getElementById("uploadImage3").value == "")) {
                    errornotify('Please check and upload product last image  and photo.');
                    return false
                } else if (isChecked !== true) {
                    errornotify('Please specify trade option');
                    return false
                }
                else {
                    return true
                }

            })
        });
        function PreviewImage0() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage0").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview0").src = oFREvent.target.result;
            };

        }
        ;
        function PreviewImage1() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage1").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview1").src = oFREvent.target.result;
            };

        }
        ;
        function PreviewImage2() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage2").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview2").src = oFREvent.target.result;
            };

        }
        ;
        function PreviewImage3() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage3").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview3").src = oFREvent.target.result;
            };

        }
        ;
        function clearForm() {
            document.getElementById("contact").reset();
        }
        function GetDuration() {
            var date1 = new Date(document.getElementById("StartDate").value);
            var date2 = new Date(document.getElementById("EndDate").value);
            var diff = Math.floor(date2.getTime() - date1.getTime());
            var day = 1000 * 60 * 60 * 24;

            var days = Math.floor(diff / day);
            var months = Math.floor(days / 31);
            var years = Math.floor(months / 12);
            if (days < 31) {
                document.getElementById("myDuration").value = days + " days ";
            } else if (months < 12) {
                document.getElementById("myDuration").value = months + " months ";
            }
            else {
                document.getElementById("myDuration").value = years + " years";
            }

        }
        function errornotify(errmsg) {

            $(this).notifyMe(
                    'bottom', // Position
                    'error', // Type
                    'Required Field *', // Title
                    errmsg, // Description
                    200,// Velocity of notification
                    2000 // (optional) Time of delay to close automatically
            );
        }
    </script>
</head>
<div class="content">
    <ul class="rd_trade">
        <li>
            <label for="TradeOption">Trade Option:* </label>
            <input type="radio" name="TradeOptionProduct" onchange="clearForm()" value="Product">Product
            <input type="radio" name="TradeOptionProduct" onchange="clearForm()" value="Service">Service
        </li>
    </ul>
    <div id="ProductContent" name="ProductContent" class="content">
        <form class="contact_form" id="contact" method="Post" action="/OfferPeerTrade" enctype="multipart/form-data">
            <ul>
                <li>
                    <h1>Trade Product with Friend</h1>
                    <input type="text" id="OptionProduct" name="OptionProduct" value="Product" required="required"
                           hidden="true" title="Opotion"/>
                    <span class="required">All the fields marked with * are required </span>
                </li>
                <li class="bs-example">
                    <label for="tags" style="color:green;">Search for Friends:</label>
                    <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                           placeholder="Search for friend" required="true" title="Please search and select a friend">
                </li>
                <li>
                    <label for="name">Product/Item Name: *</label>
                    <input type="text" name="ProductName" required="required" title="Please Enter Product Name:"/>
                </li>
                <li>
                    <label for="ProductCondition">Condition: *</label>
                    <select name="Condition" required="required" title="Please Specify Product Condition">
                        <option>New</option>
                        <option>Used</option>
                        <option>Barely used,Good Condition</option>
                        <option>More than 1 year old, Good Condition</option>
                        <option>More than 3 years old,working</option>
                    </select>
                </li>
                <li>
                    <label for="ProductDetails">Product Details: *</label>
                    <textarea rows="4" cols="48" name="ProductDetails" form="contact" required="true"
                              title="Please detailed description of your product/item"></textarea>
                </li>
                <li>
                    <label for="ProductCategory">Product Category: *</label>
                    <select name="CategoryName" required="required" title="Please Specify Product Category">
                        <% for (var i in ProCategories){ %>
                        <option><%= ProCategories[i].CategoryName %>
                            <% } %>
                    </select>
                </li>
                <li class="value">
                    <label for="ProductValue">Item/Product Value: *</label>
                    <input type="number" name="ProductValue" required="required"
                           title="Please Specify the value of your item/product" min="1" max="100000">
                    <select name="CurrencyName" required="required" title="Specify currency">
                        <option>EUR €</option>
                        <option>USD $</option>
                        <option>GBP £</option>
                    </select>
                </li>
                <li>
                    <label for="PreferredProduct">Preferred Item/Product: *</label>
                    <input type="text" name="PreferredProduct" value="Open for negotiation" required="required"
                           title="Please Specify Preferred Product/Item">
                </li>
                <li>
                    <label for="ProcessingTime">Processing Time: *</label>
                    <select name="ProcessingTime" required="required" title="Please Specify Processing time">
                        <option>Now</option>
                        <option>1 business day</option>
                        <option>1-2 business days</option>
                        <option>1-3 business days</option>
                        <option>4-5 business days</option>
                        <option>1 week</option>
                        <option>2-3 weeks</option>
                    </select>
                </li>
                <li class="mycheck">
                    <label for="ShipsT0">Shipping Options: *</label>
                    <input type="checkbox" id="Asia" name=ShipsT0" value="Asia"/>
                    <label for="">Asia</label>
                    <input type="checkbox" id="Africa" name="ShipsT0" value="Africa"/>
                    <label for="">Africa</label>
                    <input type="checkbox" id="Europe" name="ShipsT0" value="Europe"/>
                    <label for="">Europe</label>
                </li>
                <li class="mycheck">
                    <label for="ShipsT0"></label>
                    <input type="checkbox" id="SAmerica" name="ShipsT0" value="S. America"/>
                    <label for="">S. America</label>
                    <input type="checkbox" id="NAmerica" name="ShipsT0" value="N.America"/>
                    <label for="">N. America</label>
                    <input type="checkbox" name="ShipsT0" value="LocalPickUp"/>
                    <label for="">Pickup</label>
                </li>
                <input type="text" id="SelectedAreas" name="SelectedAreas" required="required" hidden="true">
                <li class="value">
                    <label for="ShippingCost">Shipping/Postal Cost: *</label>
                    <input type="number" name="ShippingCost" required="required"
                           title="Please Specify the Shipping Cost">
                    <select name="shipCurrencyName" required="required" title="Specify currency">
                        <option>EUR €</option>
                        <option>USD $</option>
                        <option>GBP £</option>
                    </select>
                </li>
                <li>
                    <span class="required_pht">Click to upload product images,first image will be use as product preview</span>
                    <label>Upload Product Images: *</label>
                    <img id="uploadPreview0" style="width: 100px; height: 100px;" border="0"/>
                    <img id="uploadPreview1" style="width: 100px; height: 100px;"/>
                    <img id="uploadPreview2" style="width: 100px; height: 100px;"/>
                    <img id="uploadPreview3" style="width: 100px; height: 100px;"/>
                    <input id="uploadImage0" type="file" name="myPhoto0" style="display: none;"
                           onchange="PreviewImage0();"/>
                    <input id="uploadImage1" type="file" name="myPhoto1" style="display: none;"
                           onchange="PreviewImage1();"/>
                    <input id="uploadImage2" type="file" name="myPhoto2" style="display: none;"
                           onchange="PreviewImage2();"/>
                    <input id="uploadImage3" type="file" name="myPhoto3" style="display: none;"
                           onchange="PreviewImage3();"/>
                </li>
                <li class="submit">
                    <input type="button" name="clear" id="clear" value="Cancel" onclick="clearForm()"/>
                    <input type="submit" name="submit" id="submit" value="Send Offer"/>
                </li>
            </ul>
        </form>
    </div>
    <div id="ServiceContent" name="ServiceContent" class="content">
        <form id="contact" class="contact_form" method="post" action="/OfferPeerTrade">
            <ul>
                <li>
                    <h1>Offer Service to a Friend</h1>
                    <input type="text" id="OptionService" name="OptionService" value="" hidden="true"/>
                    <span class="required">All the fields marked with * are required </span>
                </li>
                <li>
                    <label for="tags" style="color:green;">Search for Friends:</label>
                    <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                           placeholder="Search for friend" required="true" title="Please search and select a friend">
                </li>
                <li>
                    <label for="name">Service Name: *</label>
                    <input type="text" name="ServiceName" required="required"
                           title="Please Enter Name of Service you wish to Offer!">
                </li>
                <li>
                    <label for="ServiceDetails">Service Details: *</label>
                    <input type="textarea" name="ServiceDescription" required="required"
                           title="Please Enter Service Description">
                </li>
                <li>
                    <label for="ServiceCategory">Service Category</label>
                    <select name="ServiceCatName" required="required" title="Please Select Service Category">
                        <% for (var i in SerCategories){ %>
                        <option><%= SerCategories[i].ServiceCatName %>
                            <% } %>
                    </select>
                </li>
                <li>
                    <label for="StartDate">Start Date: *</label>
                    <input id="StartDate" type="date" name="StartDate" onchange="GetDuration()" required="required"
                           title="Please specify date of service delivery">
                </li>
                <li>
                    <label for="EndDate">End Date: *</label>
                    <input id="EndDate" type="date" name="EndDate" onchange="GetDuration()" required="required"
                           title="Please Specify Date you wish to complete !">
                </li>
                <li>
                    <label for="Duration">Duration</label>
                    <input id="myDuration" type="text" name="Duration" value="" readonly>
                </li>
                <li>
                    <label for="PreferredService">Preferred Service: *</label>
                    <input id="PreferredService" type="text" name="PreferredService" required="required"
                           title="Please specify your preferred service" value="">
                </li>
                <li>
                    <label for="Date Available ">Availability Date: *</label>
                    <input type="date" name="AvailabilityDate">
                </li>
                <li class="submit">
                    <input type="button" name="Clear" id="clear" value="Cancel" onclick="clearForm()"/>
                    <input type="submit" name="submit" id="submit" value="Send Offer"/>
                </li>
            </ul>
        </form>
    </div>
</div>
<% include ../partials/footer %>
